// Colours

$offwhite: #eee8d6;
$darkblue: #022933;
$yellow: hsl(73, 100%, 74%);
$blue: #0076a3;
$green: #548c27;
$orange: #f39856;
$red: #d14348;
$purple: #6d73c2;

$primary: $yellow;
$secondary: $orange;
$background: $darkblue;
$color-background: $offwhite;

// Fonts
$font-family-body: 'Amiri', serif;
$font-family-display: 'Sarala', cursive;
